.bege{
    background-color: #AA9B8E
}
.bege-claro{
    background-color: #d8c7b8
}
.cinza{
    background-color: #CCCCCC;
}
.branco{
    background-color: rgb(223, 219, 219);
}
.preto{
    background-color: rgb(20, 20, 20);
}