@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins', sans-serif;
}

body{
    height:100vh;
}

.sombra-leve{
    box-shadow: 0 4px 10px rgba(0,0,0,0.12);
}

/* IMAGEM DE FUNDO */

.background{
    position:fixed;
    width:100%;
    height:100%;
    background-image:url("https://images.unsplash.com/photo-1570172619644-dfd03ed5d881");
    background-size:cover;
    background-position:center;
    filter:brightness(0.6);
}

/* CENTRALIZAÇÃO */

.login-container{
    position:relative;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

/* CARD */

.voltar-btn{
    position:absolute;
    top:20px;
    left:20px;

    font-size:22px;
    text-decoration:none;
    color:#000000;

    transition:0.2s;
}

.voltar-btn:hover{
    transform:translateX(-3px);
}

.login-card{
    background:white;
    padding:50px;
    width:380px;
    border-radius:12px;
    box-shadow:0 20px 60px rgba(0,0,0,0.25);
    text-align:center;
    position:relative;
}

.login-card h1{
    font-size:28px;
    margin-bottom:5px;
}

.login-card p{
    color:#777;
    margin-bottom:30px;
}

/* INPUTS */

.input-group{
    text-align:left;
    margin-bottom:20px;
}

.input-group label{
    font-size:13px;
    color:#444;
}

.input-group input{
    width:100%;
    padding:12px;
    margin-top:5px;
    border-radius:6px;
    border:1px solid #9c9898;
    outline:none;
    transition:0.2s;
}

.input-group input:focus{
    border-color:#d4af37;
}

/* BOTÃO */

.login-btn{
    width:100%;
    padding:14px;
    border:none;
    border-radius:6px;
    background:#4c5983;
    color:white;
    font-weight:500;
    cursor:pointer;
    transition:0.2s;
}

.login-btn:hover{
    background:#b8962e;
}

/* ETAPA */

.etapa{
display:flex;
flex-direction:column;
gap:15px;
}

#etapa2{
display:none;
}

/* progresso */

.progress{
display:flex;
align-items:center;
justify-content:center;
margin-bottom:30px;
gap:10px;
}

.step{
width:30px;
height:30px;
border-radius:50%;
background:#ccc;
display:flex;
align-items:center;
justify-content:center;
font-size:14px;
}

.step.active{
background:#AA9B8E;
color:white;
}

.line{
width:40px;
height:3px;
background:#ccc;
}

/* botoes */

.botoes{
display:flex;
gap:10px;
}

/* erro */
.input-error {
    border: 2px solid #e74c3c !important;
}

.label-error {
    color: #e74c3c !important;
}

.error-message{
    color:#e74c3c !important;
    font-size:12px !important;
    margin-top:4px !important;
}

/* Senha */.senha-wrapper{
    position: relative;
}

.senha-wrapper input{
    width:100%;
    padding-right:40px;
}

.toggle-senha{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
}

.toggle-senha svg{
    transition: 0.2s;
}