<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/style.css">
    <title>Document</title>
</head>
<body>


    <div class="container bege column">
        <nav class="navbar row">

            <div class="nav-text row joan">
                <img src="../assets/logo.png" alt="" height="130px">
                <p>Pacotes</p>
                <p>Sobre Nós</p>
                <p>Agenda</p>
            </div>

            <div class="nav-button">
                <button>LOGIN</button>
            </div>

        </nav>
        <div class="under-nav row">
            <div class="container-filho">
                
            </div>
            <div class="container-renata">
            </div>
        </div>

    </div>

    <div class="container cinza">
        
    </div>

    <div class="container bege">

    </div>

    <div class="container cinza">
        
    </div>

</body>
</html>