<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Copse&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <!-- LINKS DE CSS's -->
    <link rel="stylesheet" href="../style/index.css">
    <link rel="stylesheet" href="../style/index-mobile.css">
    <link rel="stylesheet" href="../style/cores.css">
    <link rel="stylesheet" href="../style/fontes.css">
    <!-- =+=+=+=+=+=+=+= -->
    <title>Studio Tukotomi</title>
</head>
<body>

    <!-- HERO -->
    <div class="container bege column">
        
        <!-- HTML -->
        <nav class="navbar row">

            <div class="joan row nav-text">
                <img src="../assets/logo.png" class="logo">
                <!-- Menu desktop -->
                <p>Pacotes</p>
                <p>Sobre Nós</p>
                <p>Agenda</p>
            </div>

            <div class="nav-right">
                <div class="nav-button">
                <a href="../templates/rdr-login-sign.html">Entrar</a>
                </div>
                <!-- Botão hamburger (só aparece no mobile) -->
                <button class="hamburger" id="hamburger" aria-label="Abrir menu">
                <span class="cinza"></span>
                <span class="cinza"></span>
                <span class="cinza"></span>
                </button>
            </div>

            <!-- Menu mobile -->
            <div class="copse mobile-menu cinza centralizar" id="mobileMenu">
                <p>Pacotes</p>
                <p>Sobre Nós</p>
                <p>Agenda</p>
                <a href="../templates/rdr-login-sign.html">Entrar</a>
            </div>

        </nav>
        <div class="under-nav row">

            <div class="container-filho column joan centralizar" style="padding-bottom: 170px;">

                <h1 class="titulo">
                    Praticidade, conforto <br>
                    e qualidade de serviços <br>
                    <span>tudo no mesmo lugar.</span>
                </h1>

                <p class="descricao">
                    Oferecemos serviços completos para o cuidado das suas unhas e pés,
                    tratamentos especializados, tecnologia a laser e procedimentos
                    estéticos pensados para realçar sua beleza com segurança,
                    conforto e excelência.
                </p>

                <div class="botoes row">
                    <button class="btn-azul copse" onclick="irRedirecionamento()">
                        Agendar horário
                    </button>

                    <button class="btn-claro copse" onclick="irInfo()">
                        Conheça nossos serviços
                    </button>
                </div>

            </div>

            <div class="container-renata"></div>

        </div>

    </div>

    <!-- SERVIÇOS -->
    <div class="container column centralizar sobrepor">

        <div class="servicos branco column copse">

            <div class="row linha">
                <div class="card">
                    <h3>Corte Feminino</h3>
                    <img src="../assets/tesouras.png">
                </div>
                <div class="card">
                    <h3>Manicure</h3>
                    <img src="../assets/manicure.png" alt="">
                </div>
                <div class="card">
                    <h3>Estética</h3>
                    <img src="../assets/botox.png" alt="">
                </div>
            </div>

            <div class="row linha">
                <div class="card">
                    <h3>Pedicure</h3>
                    <img src="../assets/pedicure.png" alt="">
                </div>
                <div class="card destaque">
                    <h3>Coloração</h3>
                    <img src="../assets/coloracao.png" alt="">
                </div>
                <div class="card">
                    <h3>Jato de Plasma</h3>
                    <img src="../assets/mascara-facial.png" alt="">
                </div>
            </div>

        </div>
    </div>

    <div class="container cinza row detalhes-servicos">

        <div class="imagem-modelo"></div>

            <div class="texto-servicos centralizar column joan">

                <div class="item">
                    <h2>Corte Feminino</h2>
                    <img src="../assets/tesouras.png">
                    <p>Cortes personalizados que valorizam seu estilo e realçam sua beleza.</p>
                </div>

                <div class="item">
                    <h2>Manicure</h2>
                    <img src="../assets/manicure.png" alt="">
                    <p>Cuidado completo das unhas com acabamento impecável e durabilidade.</p>
                </div>

                <div class="item">
                    <h2>Estética</h2>
                    <img src="../assets/botox.png" alt="">
                    <p>Tratamentos que revitalizam e cuidam da sua pele.</p>
                </div>

                <div class="item">
                    <h2>Coloração</h2>
                    <img src="../assets/pedicure.png" alt="">
                    <p>Técnicas profissionais para transformar e iluminar seus fios.</p>
                </div>

                <div class="item">
                    <h2>Pedicure</h2>
                    <img src="../assets/coloracao.png" alt="">
                    <p>Cortes personalizados que valorizam seu estilo e realçam sua beleza.</p>
                </div>

                <div class="item">
                    <h2>Jato de Plasma</h2>
                    <img src="../assets/mascara-facial.png" alt="">
                    <p>Procedimento que melhora a firmeza e aparência da pele.</p>
            </div>

        </div>

    </div>

    <div class="container bege column">


        <section class="team">
            <div class="team-header">
                <h2>
                Conheça nossa <span>equipe</span>
                </h2>
                <p class="cormorant">Profissionais excelentes prontas para atender você.</p>
            </div>

            <div class="team-carousel">

                    <div class="team-cards">
                                
                        <div class="team-card">
                            <img src="../assets/juliana.png">
                            <div class="card-info">
                                <h3>Juliana Alvez</h3>
                                <p>Especialista em estética.</p>
                                <span>+ 7 anos de experiência</span>
                            </div>
                        </div>

                        <div class="team-card">
                            <img src="../assets/renataSouza.png">
                            <div class="card-info">
                                <h3>Renata Souza</h3>
                                <p>Especialista em estética.</p>
                                <span>+ 7 anos de experiência</span>
                            </div>
                        </div>

                        <div class="team-card">
                            <img src="../assets/carla.png">
                            <div class="card-info">
                                <h3>Carla Menezes</h3>
                                <p>Especialista em estética.</p>
                                <span>+ 7 anos de experiência</span>
                            </div>
                        </div>

                    </div>

                </div>

        </section>

    </div>


    <div class="container cinza">

    </div>

    <footer class="footer preto">
            <div class="footer-container">

                <div class="footer-brand">
                <h3>Studio Elegance</h3>
                <p>Cuidando da sua beleza com excelência e profissionalismo.</p>
                </div>

                <div class="footer-links">
                <h4>Links rápidos</h4>
                <ul>
                    <li><a href="#">Início</a></li>
                    <li><a href="#">Sobre</a></li>
                    <li><a href="#">Serviços</a></li>
                    <li><a href="#">Equipe</a></li>
                    <li><a href="#">Contato</a></li>
                </ul>
                </div>

                <div class="footer-contact">
                <h4>Contato</h4>
                <p>📍 São Paulo - SP</p>
                <p>📞 (11) 99999-9999</p>
                <p>✉ contato@studio.com</p>
                </div>

            </div>

            <div class="footer-bottom">
                <p>© 2026 Studio Elegance. Todos os direitos reservados.</p>
            </div>
    </footer>

</body>
</html>

<script>

    const hamburger = document.getElementById('hamburger');
    const mobileMenu = document.getElementById('mobileMenu');

    hamburger.addEventListener('click', () => {
    hamburger.classList.toggle('open');
    mobileMenu.classList.toggle('open');
    });


    const track = document.querySelector(".team-cards")
    const cards = document.querySelectorAll(".team-card")

    let index = 0

    function slide(){

        // se for desktop, não faz nada
        if(window.innerWidth > 768) return

        index++

        if(index >= cards.length){
            index = 0
        }

        track.style.transform = `translateX(-${index * 89}%)`
    }

    setInterval(slide, 3000)


</script>