<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Login - Estética</title>
<link rel="stylesheet" href="../style/login-sign.css">
<link rel="stylesheet" href="../style/cores.css">
<link rel="stylesheet" href="../style/fontes.css">
</head>

<body>
    <script>

const token = localStorage.getItem("token")

if(token){
    window.location.href = "pagina-cliente.html"
}

</script>

<div class="background"></div>

<div class="login-container">

    <div class="login-card sombra-leve">
        <a href="../templates/rdr-login-sign.html" class="voltar-btn">←</a>
        <h1>Acesse a Plataforma</h1>
        <p>Entre na sua conta</p>

        <div>

            <div class="input-group sombra-leve">
                <label>Email</label>
                <input type="email" id="email" placeholder="seuemail@email.com">
            </div>

            <div class="input-group sombra-leve">
                <label>Senha</label>
                <input type="password" id="senha" placeholder="••••••••">
            </div>

            <button  onclick="login()" class="login-btn bege sombra-leve">Entrar</button>

        </div>

    </div>

</div>

</body>
</html>
<script>

async function login(){

    const email = document.querySelector("#email").value.trim().toLowerCase()
    const senha = document.querySelector("#senha").value.trim()

    if(!email || !senha){
        alert("Preencha email e senha")
        return
    }

    try{
        const resposta = await fetch("http://localhost:3000/usuarios")
        const usuarios = await resposta.json()

        const usuario = usuarios.find(u => 
            u.email.toLowerCase() === email && u.senha === senha
        )
        if(usuario){

            const token = crypto.randomUUID()
            
            localStorage.setItem("token", token)

            alert("Login realizado!")

            localStorage.setItem("usuario", JSON.stringify(usuario))

            window.location.href = "../templates/pagina-cliente.html"

        }else{

            alert("Email ou senha incorretos")

        }

    }catch(erro){

        console.error(erro)
        alert("Erro ao conectar com servidor")

    }

}

</script>