<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Login - Estética</title>
<link rel="stylesheet" href="../style/login-sign.css">
<link rel="stylesheet" href="../style/cores.css">
<link rel="stylesheet" href="../style/fontes.css">
</head>

<body>

<div class="background"></div>

<div class="login-container">

    <div class="login-card sombra-leve">
        <a href="../templates/rdr-login-sign.html" class="voltar-btn">←</a>
        <h1>Acesse a Plataforma</h1>
        <p>Entre na sua conta</p>

        <div>

            <div class="input-group sombra-leve">
                <label>Email</label>
                <input type="email" placeholder="seuemail@email.com">
            </div>

            <div class="input-group sombra-leve">
                <label>Senha</label>
                <input type="password" placeholder="••••••••">
            </div>

            <button class="login-btn bege sombra-leve">Entrar</button>

        </div>

    </div>

</div>

</body>
</html>